<div class="container mx-auto" style="width: 90vw">
    <%= @user.name %>
    
    <% unless current_user == @user %>
        <% if current_user.following?(@user) %>
            <%= form_with(model: current_user.relationships.find_by(follow_id: @user.id), local: true, method: :delete) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
            <% end %>
        <% else %>
            <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
            <% end %>
        <% end %>
    <% end %>
    
    <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="" class="nav-link>">投稿<span class="badge badge-secondary"></span></a></li>
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー<span class="badge badge-secondary"><%= @count_followings %></span></a></li>
        <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a></li>
        <li class="nav-item"><a href="" class="nav-link">お気に入り<span class="badge badge-secondary"></span></a></li>
    </ul>
    <ul>
        <% @followings.each do |following| %>
            <li>
                <%= link_to following.name, user_path(following) %>
            </li>
        <% end %>    
    </ul>
</div>

