<div class="picture-set">
    <img class="fuji" src="assets/hJEydLyOYEeZMLG1609402530_1609402593.jpg">
    <p class="newest-post">最新の投稿</p>
</div>


<div class="container mx-auto" style="width: 90vw">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="left-side">
                <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                    <p class="mb-2">都道府県・地名で探す</p>
                    <div class="form-group" style="width: 280px;">
                        <%= f.text_field :spot, :placeholder => "Spot your place!!", class: 'form-control' %>
                    </div>
        
                    <%= f.submit 'Search', class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <ul>
                <% @places.each do |place| %>
                    <li class="place border-bottom">
                        <div class="d-flex">
                            <div class="col-4">画像</div>
                            <div class="col-8">
                                <p><%= place.spot %></p>
                                <p><%= place.address %></p>
                                <p style="word-wrap: break-word;"><%= place.detail %></p>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>